<% if jigoku? %>
		<div class="description">
			<p><img class="sample" src="sample/jigoku.png" alt="地獄のサンプル" /></p>
	                <p>名言にはTwitterの説明文を使います。Twitter側の情報は1日くらいキャッシュするので、説明文を変更してから生成してください。</p>
			<p>空白を2文字入れたところで右側の名言と左側の名言が区切られます。</p>
			<p>例: 「（カチャカチャカチャ…）<em>&nbsp;</em><em>&nbsp;</em>（ッターン！）」 </p>
			<p>→ 右側の名言:「（カチャカチャカチャ…）」</p>
			<p>→ 左側の名言:「（ッターン！）」</p>
		</div>
<% end %>
