<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>名札には名前を大きく書きましょうジェネレータ</title>
	</head>
	<body>
		<h1>名札には名前を大きく書きましょうジェネレータ</h1>
		<a href="http://rubykaigi.tdiary.net/20100815.html#p01" target="_blank">
			名札には名前を大きく書きましょう
		</a>のような名刺画像を生成するジェネレータ。
		
		<h2>使い方</h2>
		<ul>
			<li>http://nameplate.clear-code.com/TWITTER_ID</li>
			<li>http://nameplate.clear-code.com/TWITTER_ID.png</li>
			<li>http://nameplate.clear-code.com/TWITTER_ID.pdf</li>
			<li>http://nameplate.clear-code.com/TWITTER_ID.ps</li>
			<li>http://nameplate.clear-code.com/TWITTER_ID.svg</li>
		</ul>
		<p>例:
			<ul>
				<li><a href="kdmsnr.png">PNG</li>
				<li><a href="kdmsnr.pdf">PDF</li>
			</ul>
		</p>
		<hr />
		<a href="http://twitter.com/kdmsnr" target="_blank">@kdmsnr</a> and
		<a href="http://twitter.com/ktou" target="_blank">@ktou</a>.
	</body>
</html>
