<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="nameplate.css" type="text/css" media="all" />
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>
			<a href="http://rubykaigi.tdiary.net/20100815.html#p01" target="_blank">
				名札には名前を大きく書きましょう
			</a>
			のような名札画像を生成するジェネレータ
<% if jigoku? %>
			は<a href="http://nameplate.clear-code.com/">こちら</a>
<% end %>
			。
		</p>
		<p>
			<form action="./" method="post">
				twitter ID:
				<input type="text" name="user" />
				<input type="submit" value="生成！" />
			</form>
		</p>
<%= description %>
		<hr />
		<a href="http://twitter.com/kdmsnr" target="_blank">@kdmsnr</a> and
		<a href="http://twitter.com/ktou" target="_blank">@ktou</a>.<br />
		<a href="http://github.com/kou/nafuda_generator/">http://github.com/kou/nafuda_generator/</a>
	</body>
</html>
